<!DOCTYPE html>
  <html>
    <head>
    <title>WE CAN HIRE U</title>
    </head>
    <body><h1>We Can Hire U</h1>
    <img src="https://websitesample-1--jhalakjain.repl.co/static/career.jpg" height="320" >
      <h2>About Us</h2>
      <p>WE CAN HIRE U , has evolved from being a 'job board' to a global provider of everything you need for a successful career. We've been in the pursuit of connecting people with the right job opportunities for over two decades now. We understand your needs better than anyone else and know when recruiters are looking for someone exactly like you.
      </p>
    
    </body>
  </html>